{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <title>Chinmay Portfolio</title>
    

    <link rel="stylesheet" href="static/css/vendor/icomoon/style.css">
    <link rel="stylesheet" href="static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/vendor/animate.min.css">
    <link rel="stylesheet" href="static/css/vendor/aos.css">
    <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/vendor/jquery.fancybox.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Theme Style -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <link rel="stylesheet" href="static/css/sty.css"> -->

  </head>
  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    <nav class="unslate_co--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
          <span class="close-label">Close</span>
          <div class="close-times">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">

      <div class="unslate_co--site-inner">

        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        <!-- END lines -->
      
      <nav class="unslate_co--site-nav site-nav-target">

        <div class="container">
          <div >
            <a class="text-danger" href="/light"><svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
              <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
            </svg></a>
          </div>
          <div class="row align-items-center justify-content-between text-left">
            <div class="col-md-5 text-right">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li class="has-children">
                  <a href="/" class="nav-link">Home</a>
                  
                </li>
                <li><a href="#portfolio-section" class="nav-link">Projects</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
              </ul>
            </div>
            <div class="site-logo pos-absolute">
              <a href="/" class="unslate_co--site-logo">Portfolio<span>.</span></a>
            </div>
            <div class="col-md-5 text-right text-lg-left">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li><a href="#skills-section" class="nav-link">Skills</a></li>
                <li><a href="#resume-section" class="nav-link">Resume</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>

              <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                <li><a href="#" class="js-menu-toggle">Menu</a></li>
              </ul>
              
            </div>
          </div>
          
        </div>

      </nav>
      <!-- END nav -->

      <div class="cover-v1 jarallax" style="background-image: url('static/images/cover-photo.jpg');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero">Developer</h1>
              <h2 class="subheading gsap-reveal-hero">I’m Chinmay Rai A Python Full Stack Developer Based In Indore</h2>
            </div>

          </div>
          
        </div>


        <a href="#portfolio-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->


      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
          
          
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="section-heading-wrap text-center mb-5">
              <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Projects</span></h2>
              <span class="gsap-reveal">
              <img src="static/images/divider.png" alt="divider" width="76">
              </span>
            </div>


            
            <div id="posts" class="row gutter-isotope-item">
              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/chinmayraii/E-Commerce" class="portfolio-item  isotope-item gsap-reveal-img">
                    <div class="overlay">
                      <!-- <span class="wrap-icon icon-link2"></span> -->
                      <div class="portfolio-item-content">
                        <h3>E-Commerce</h3>
                        <p>online shopping web</p>
                      </div>
                    </div>
                    <img src="static/images/ecommerce_img.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="https://github.com/chinmayraii/thedetailingboys" class="portfolio-item isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Car Detailing Web</h3>
                        <p>TheDetailingBoys</p>
                      </div>
                    </div>
                    <img src="static/images/detailingboys.png" class="lazyload  img-fluid" alt="Images" />
                  </a>

              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="https://github.com/chinmayraii/Mortgage_Chatbot" class="portfolio-item  item-portrait isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Mortgages web</h3>
                        <p>mortgages website</p>
                      </div>
                    </div>
                    <img src="static/images/mortgages.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="https://github.com/chinmayraii/Ai_Chatbot" class="portfolio-item  item-portrait isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>AI Chatbot</h3>
                        <p>chatbot</p>
                      </div>
                    </div>
                    <img src="static/images/chatbot.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="https://github.com/chinmayraii/Pet_Seller_API" class="portfolio-item  item-portrait isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Pet Seller API</h3>
                        <p>API by django</p>
                      </div>
                    </div>
                    <img src="static/images/petseller_img.webp" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/chinmayraii/Student-Panel" class="portfolio-item isotope-item gsap-reveal-img " >
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Student Panal</h3>
                        <p>school management system</p>
                      </div>
                    </div>
                    <img src="static/images/student_panal_img.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="https://github.com/chinmayraii/ERP-enterprise-resource-planning-" class="portfolio-item isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Enterprise resource planning</h3>
                        <p>ERP management</p>
                      </div>
                    </div>
                    <img src="static/images/erp_img.png" class="lazyload  img-fluid" alt="Images" />
                  </a>

              </div>

              <div class="item illustration packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/chinmayraii/Mail__panel" class="portfolio-item isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Mail Panal</h3>
                        <p>company mail management system</p>
                      </div>
                    </div>
                    <img src="static/images/mail_panal_img.jpg" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="#" class="portfolio-item  item-portrait isotope-item gsap-reveal-img">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Green Tea </h3>
                        <p>tea selling web</p>
                      </div>
                    </div>
                    <img src="static/images/tea_img.webp" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/chinmayraii/Crud_Application" class="portfolio-item item-portrait isotope-item gsap-reveal-img " >
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Crud Application</h3>
                        <p>employee crud application</p>
                      </div>
                    </div>
                    <img src="static/images/crud_img.jpeg" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="/start_quiz" class="portfolio-item isotope-item gsap-reveal-img">
                    <div class="overlay">
                      <!-- <span class="wrap-icon icon-play_circle_filled"></span> -->
                      <div class="portfolio-item-content">
                        <h3>Quiz</h3>
                        <p>quiz by javascript</p>
                      </div>
                    </div>
                    <img src="static/images/quiz_img.jpg" class="lazyload  img-fluid" alt="Images" />
                  </a>
                </div>
                <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                  <a href="https://github.com/chinmayraii/OPD_project" class="portfolio-item  gsap-reveal-img" >
                      <div class="overlay">
                        <span class="wrap-icon icon-play_circle_filled"></span>
                        <div class="portfolio-item-content">
                          <h3>OPD Panal</h3>
                          <p>hospital opd</p>
                        </div>
                      </div>
                      <img src="static/images/opd.png" class="lazyload  img-fluid" alt="Images" />
                    </a>
                </div>

              <div class="item web illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="/cal" class="portfolio-item  gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Calculator</h3>
                        <p>using by javascript</p>
                      </div>
                    </div>
                    <img src="static/images/calculator_img.jpg" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

            </div>
            
          </div>


        </div>
      </div>


      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/react-logo.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/sql-logo.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/python-logo.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/git-logo.png" alt="Image" class="img-fluid">
            </div>
            
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/mongo-logo.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>


      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
            <span class="gsap-reveal">
            <img src="static/images/divider.png" alt="divider" width="76">
            </span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <figure class="dotted-bg gsap-reveal-img ">
                <img src="static/images/about-me-pic3.jpg" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">We can make it together</span></h3>
              <p class="lead gsap-reveal"> IT Professional in Software
                Development with complete project lifecycle in Python/Django technologies.
                 </p>
              <p class="mb-4 gsap-reveal"> Experience in Core
                Python, Django Technologies , Django Restframework, Django MVT. Strong experience in
                buildingthe Django Frameworks using Model-View-Template (MVT). Experience in AWS and Cloud Computing</p>
              <a href="#contact-section"  class="btn btn-outline-pill btn-custom-light">Hire me</a>
             
            </div>
          </div>
        </div>
      </div>
      

      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Services</span></h2>
            <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
          </div>

          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/001-options.svg" alt="Image" width="45">
                </div>
                <h3>Web <br> Application</h3>
                <p>  Experience in build a responsive web application in
                  Python, Django Technologies , Django Restframework,</p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/002-chat.svg" alt="Icon" width="45">
                </div>
                <h3>Web <br> Design</h3>
                <p>Create a responsive web design using Javascript/Bootstrap/Jquery/Html/Css also able to do animations </p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/004-percentage.svg" alt="Image" class="img-fluid" width="45">
                </div>
                <h3>Web  <br> Hosting</h3>
                <p>
                  Experience in web hosting in any plateform like AWS , able connect RDS Database </p>
              </div> 
            </div>

           

          </div>
        </div>
      </div>

      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container-fluid">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="95">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Frontend</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="97">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Backend</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="99">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Django</span>
              </div>
            </div>
            
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="90">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Database</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END .counter -->

       <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up" id="resume-section">

        <div class="section-heading-wrap text-center mb-5">
          <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Resume</span></h2>
          <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title"><b>Education</b></h3>
            <div class="resume-item">
              <h4 class="text-primary">Master of Computer Application</h4>
              <h5>2022 - 2024</h5>
              <p><em>Rajiv Gandhi Proudyogiki Vishwavidyalaya,Jabalpur</em></p>
            </div>
            <div class="resume-item">
              <h4 class="text-primary">Bachelor of Science</h4>
              <h5>2016 - 2019</h5>
              <p><em>Rani Durgavati Vishwavidyalaya ,Jabalpur</em></p>
            </div>
            <div class="resume-item">
              <h4 class="text-primary">Diploma in Computer Application</h4>
              <h5>2016 - 2017</h5>
              <p><em>Makhanlal Chaturvedi University ,Bhopal</em></p>
            </div>
            <h3 class="resume-title"><b>Professional Experience</b></h3>
            <div class="resume-item">
              <h4 class="text-primary">Freelancing</h4>
              <h5>March 2022 - Present</h5>
              <ul>
                <li>I am responsible for handling the day to day issues and fine tuning the applications for
                  enhanced performance.
                  </li>
                <li>Strong expertise in development of web based applications using Python,Javascript,Bootstrap, HTML/Css
                  ,Jquery
                   </li>
                <li>I took part in code reviews and technical documentation for reference and reporting.</li>
                <li>Involved in admin activities like adding users and groups, creating projects, providing
                  access etc. Experience in using various version control systems like Git, and GitHub.
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- <h3 class="resume-title"><b>Professional Experience</b></h3> -->
            <div class="resume-item">
              <h4 class="text-primary">Associate Software Engineer</h4>
              <h5>March 2022 - April 2023</h5>
              <p><em><b>Vedansh Technologies</b> </em></p>
              <ul>
                <li>I am responsible for handling the day to day issues and fine tuning the applications for
                  enhanced performance.
                  </li>
                <li>Strong expertise in development of web based applications using Python,Javascript,Bootstrap, HTML/Css
                  ,Jquery
                   </li>
                <li>I took part in code reviews and technical documentation for reference and reporting.</li>
                <li>Involved in admin activities like adding users and groups, creating projects, providing
                  access etc. Experience in using various version control systems like Git, and GitHub.
                  </li>
              </ul>
            </div>

            <div class="resume-item">
              <h4 class="text-primary">Python Django Developer </h4>
              <h5>April 2023 - July 2023</h5>
              <p><em><b>LinuxBean Solution LPP</b> </em></p>
              <ul>
                <li>I am working on the backend part of the applications in Django using Python to create the
                  APIs and maintaining the databases.</li>
                <li>Involved in admin activities like adding users and groups, creating projects, providing
                  access etc. Experience in using various version control systems like Git, and GitHub.
                  </li>
                <li>Good experience in developing web applications implementing Model View Control
                  architecture using Django web application frameworks.</li>
                  <li>Deployment in Aws.</li>
              </ul>
            </div>
          </div>


        </div>

        <p style="padding-left: 460px;padding-top: 50px;" class="gsap-reveal"><a href="/resume" class="btn btn-outline-pill btn-custom-light">Download my CV</a></p>

      </div>
    </section><!-- End Resume Section -->
      <!-- END testimonial -->

      <!-- END blog posts -->


      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
            
            <div class="col-md-6">
              <form action="/contact" method="post" class="form-outline-style-v1" >
                {% csrf_token %}
                <div class="form-group row mb-0">

                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name"> 
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Phone</label>
                    <input name="phone_number" type="number" class="form-control">
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Hire for</label>
                    <input name="hire_for" type="text" class="form-control">
                  </div>
                  <div class="col-lg-12 form-group gsap-reveal">
                    <label for="message">Description</label>
                    <textarea name="message" id="message" cols="30" rows="7" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row gsap-reveal">
                    <div class="col-md-12 d-flex align-items-center">
                      <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3" value="Hire Me">
                      <!-- <span class="submitting"></span> -->
                    </div>
                  </div>
              </form>
              <div id="form-message-warning" class="mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>

            <div class="col-md-4">
              <div class="contact-info-v1">
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a href="#" class="contact-info-val">chinmayrai75@gmail.com</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Phone</span>
                  <a href="#" class="contact-info-val">+91-6265628386</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Address</span>
                  <address class="contact-info-val">Nepania <br> Indore (M.P)</address>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div> <!-- END .unslate_co-site-inner -->

      <footer class="unslate_co--footer unslate_co--section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7">
              
              <div class="footer-site-logo"><a href="/">Portfolio<span>.</span></a></div>

              <ul class="footer-site-social">
                <li><a href="https://www.linkedin.com/in/chinmay-rai-b0b899219/">Linkedin</a></li>
                <li><a href="https://www.naukri.com/mnjuser/profile?id=&altresid">Naukri</a></li>
                <li><a href="https://www.instagram.com/chinmayraiii/">Instagram</a></li>
                <li><a href="https://github.com/chinmayraii">GitHub</a></li>
                <li><a href="https://www.freelancer.in/u/Chinmayrai01">Freelance</a></li>
              </ul>

              

            </div>
          </div>
        </div>
      </footer>

      
    </div>

    
    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
      <div class="site-loader"></div>
    </div>

    <script src="static/js/scripts-dist.js"></script>
    <script src="static/js/main.js"></script>

  </body>
  <script>
    {%if messages%}
        {%for message in messages%}
            window.alert('{{message}}')
        {%endfor%}
    {%endif%}    
  </script>
</html>